.skills-section {
    /* background-color: rgba(255, 255, 255, 0.05); */
    border-radius: 20px;
    margin: 0 4rem;
    overflow: hidden;
  }
  
 
  
  .marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .marquee {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 20s linear infinite;
  }
  
  .skill-item {
    display: inline-block;
    color: #fff;
    font-size: 1.1rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 30px;
    border: 1px solid #ffcc00;
  }
  .section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffcc00;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  